<!DOCTYPE html>
<html>
<!--  
 * Andrew Blythe
 * Web Development
 * - created 3-27-22 for Module 5 assignment where I had to use a grid layout for my webpage 
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Andrew's Page - Home</title>
    <link rel="stylesheet" href="/webdev/Styles/gridStyle.css">
    
</head>

<body>
    <div class="grid-container">
        <div class="item1"><h1>Andrew's Web Development Page</h1></div>
        <div class="item2"> 
            <h3>Menu</h3>


        </div>
        <div class="item3">Main</div>
        <div class="item4">Right</div>
        <div class="item5">Footer</div>
    </div>

</body>

</html>