/*CSS button style class for navigation buttons */
.navButton {
    color: #494949 !important;
    /* text-transform: capitalize; */
    text-decoration: none;
    background: #dad8d8;
    padding: 10px;
    border-radius: 5px;
    /* Apparently this is how you do rounded borders? */
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

/*CSS subclass for navigation button - what happens when mouse hovers on button*/
.navButton:hover {
    color: #ffffff !important;
    background: #585858;
    border-color: #3b6df6 !important;
    transition: all 0.4s ease 0s;
}