body
{
    margin: 0;
    padding: 0;
}

header, footer
{
    float: left;
    width: 100%;
    background-color: #7152f4;
    color: white;
    
}

#main
{
    float: left;
    padding-left: 200px;
    padding-right: 125px;
}

